<h1>Sign up for Check-Ins</h1>


<!--RoomList = ["Djikstra", "Von Neumann", "McCarthy", "Turing", "Lovelace", "Church", "Babbage", "Hopper", "Library"] -->

<div id="main-container">
	<div id="rooms-container">
		<%= @group_list %>
	</div>

</div>


