// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rooms-container{
	display:flex;
	flex-flow: row;
}

.room{
	display: flex;
  flex-flow: column;
  border: 1px solid black;
}