<div class="group">
	<p>
		<strong>Room:</strong>
		<%= group.room %>
	</p>
	<p>
		<strong>Time:</strong>
		<%= group.time %>
	</p>
	<p>
		<strong>Topic:</strong>
		<%= group.topic %>
	</p>
	<p>
		<strong>Recursers:</strong>
		<%= render group.recursers %>
	</p>
</div>
