<p>
	<strong>Room:</strong>
	<%= @group.room %>
	<strong>Time:</strong>
	<%= @group.time %>
	<strong>Topic:</strong>
	<%= @group.topic %>
</p>
<p>
	<strong>Recursers:</strong>
	<%= render @groups.recursers %>
</p>
