







<!--RoomList = ["Djikstra", "Von Neumann", "McCarthy", "Turing", "Lovelace", "Church", "Babbage", "Hopper", "Library"] -->

<div id="main-container">
	<h1>Sign up for Check-Ins</h1>
	<div id="groups-container">
		<%= render @groups %>
		
	</div>

</div>