// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#header-container{
	display: flex;
	justify-content: center;
}

#titles-container{
	margin-top: 1em;
	display: inline;
}

.titles{
	font-family: 'Press Start 2P', sans-serif;
	text-align: center;
}

.rc-logo{
	margin: 2em;
}

.settings-icon{
	position: absolute;
	right: 2em;
	top: 1em;
	width: 32px;
	color: grey;
}

.settings__tooltip{
	display: none;
	width: 10em;
	position: absolute;
	top: 4em;
	right: 1em;
	background: #404040;
  color: #fff;
  font-family: 'Source Code Pro', sans-serif ;
  padding: 1em;
  border-radius: .5em;
}

.settings__tooltip:before{
	content: "";
  border: solid 1em transparent; 
  border-bottom-color: #404040; 
  border-top: 0; 
  width: 0;
  height: 0;
  overflow: hidden;
  display: block;
  position: relative;
  top: -2em; 
  margin-left: 8em;
}

.settings__tooltip-visible{
	display: block;
}


#groups-container{
	display:flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
}

.group{
  border-bottom: 5px solid #8AFB17;
  padding: 1em;
  margin: 1em;
  position: relative;

}

.group-afternoon{
	border-bottom: 5px solid green;
	
}


.group p{
	margin: 0;
	font-family: 'Source Code Pro', sans-serif ;

}

.group__topic-change{
	font-family: 'Source Code Pro', sans-serif ;
	display: none;
}

.group__topic-change input{
	font-family: 'Source Code Pro', sans-serif ;;
	max-width: 70%;
}


.group__join-group-button{
	position: absolute;
	bottom: 0;
	right: 0;
	font-family: 'Press Start 2P', sans-serif;
	-webkit-appearance: none;
	font-size: .5em;
	padding: .5em;

}


.recurser{
	color: green;
}

.thursday-warning{
	display: none;
	width: 50%;
	background: #404040;
  color: #fff;
  font-family: 'Source Code Pro', sans-serif ;
  padding: 1em;
  border-radius: .5em;
  text-align: center;
  margin: auto;
}

.thursday-warning-visible{
	display: block;
}